.navbar_color {
    background-color: !important;
    color: #000000 !important;
}

.navbar_color .text_color {
    color: #000000 !important;
}

.sidenav_color {
    background-color: #eeeeee !important;
}

.sidenav_color .text_color {
    color: #212121 !important;
}

.footer_color {
    background-color: red !important;
}

.footer_color .text_color {
    color: #fafafa !important;
}

.body_color {
    background-color: #ede7f6 !important;
}

.card_color {
    background-color: #fafafa !important;
}

.card_color .text_color {
    color: #000000 !important;
}